{% extends 'dashboard/base_template.html' %}
{% block gallery-page-active %}mm-active{% endblock %}
{% block pagetitle %}Gallery{% endblock %}

{% load static %} {%block content %}
<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
        </div>
        <div>
          {{album.name}}
          <div class="page-title-subheading">
            List of items in the {{album.name}} album.
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <a href="{% url 'dashboard:create_update_media' %}">
          <button type="button" aria-haspopup="true" aria-expanded="false" class="btn-shadow btn btn-info">
            <span class="btn-icon-wrapper pr-2 opacity-7">
              <i class="fa bi bi-plus fa-w-20"></i>
            </span>
            New Media
          </button>
        </a>
      </div>
    </div>
  </div>
  <h4 class="text text-muted">Albums</h4>

  <div class="row">
    {% for media in album.children.all %}
    <div class="col-md-3">
      <div class="card">
        <img src="{{media.file.url}}" class="card-img-top" alt="{{media.name}}" style="max-height: 250px;" />
        <div class="card-body">
          <h5 class="card-title">{{media.name}}</h5>
          <p class="card-text">
            {{media.description}}
          </p>
          <div class="d-flex">
            <form action="{% url 'dashboard:delete_media' %}" method="POST" class="confirm-action"
              data-message="Sure you want to delete?">
              {% csrf_token %}
              <input value={{media.id}} name="media_id" type="hidden">
              <button class="btn-link btn">
                <span class="text text-danger">
                  <i class="bi bi-trash btn-icon-wrapper"> </i>Delete
                </span>
              </button>
            </form>
            <a href="{% url 'dashboard:create_update_media' %}?media_id={{media.id}}" class="btn btn-primary">Edit</a>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}