{% extends 'dashboard/base_template.html' %}
{% block services-page-active %}mm-active{% endblock %}
{% block pagetitle %}Services{% endblock %}

{%block content %}
<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="metismenu-icon bi bi-person-lines-fill"></i>
        </div>
        <div>
          Service
          <div class="page-title-subheading">Design the page for your service as you please.</div>
        </div>
      </div>

    </div>
  </div>

  <div class="tab-content">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 p-4 card">

          {% if messages %}
          <div id="message-container" class="col-md-12 mx-auto">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show py-3 mt-2" role="alert">
              <strong>Alert! </strong> {{message}}.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="service_id" value={{service.id}}>

            <div class="form-group">
              <input class="form-control" type="text" name="title" id="title" value="{{service.title}}"
                placeholder="Title"
                style="padding: 1.2em; border:none;background-color: rgba(197, 197, 197, 0.2); font-size: 2em;"
                required>
              <small class="text text-info">Max Characters: 100</small>
            </div>

            <div class="form-group my-3 py-3" style="background-color: rgba(197, 197, 197, 0.2);">
              <label class="font-weight-bold" for="phot">Photo</label>
              <div class="flex mb-3">
                <span class="mr-10 font-weight-bold">Currently:</span>
                {% if service.image %}
                <img width="100" height="100" src="{{service.image.url}}" alt="{{service.title}}"
                  style="border: 1px solid rgba(11, 221, 204, 0.616);">
                {% else %}
                <span class="text text-danger">None</span>
                {% endif %}
              </div>
              <input class="form-control" type="file" name="image" {% if not service %}required{% endif %}>
            </div>

            <div class="form-group mb-3">
              <label for="schedules">
                <h4>Schedules</h4>
              </label>
              <textarea name="schedules" id="service_schedules" required>{{service.schedules}}</textarea>
            </div>

            <label for="">
              <h4>Details</h4>
            </label>
            <textarea name="description" id="service_description" required>{{service.description}}</textarea>

            <div class="form-group">
              <label for="doctor">
                <h4>Doctors</h4>
              </label>
              <select class="form-control" name="doctors" id="doctors" multiple required>
                {% for doctor in doctors %}
                <option {% if doctor in service.doctors.all %}selected{% endif %} value="{{doctor.id}}">
                  {{doctor.fullname}}
                </option>
                {% endfor %}
              </select>
              <small class="text text-info">Hold down Ctrl to select multiple.</small>
            </div>

            <div class="form-group mt-3">
              <p class="m-0 text text-warning">Invisible services will not show on the website.</p>
              <label class="font-weight-bold" for="is_active">Status</label>
              <input type="checkbox" name="visible" id="visible" {% if service.visible %}checked{% endif %}
                data-toggle="toggle" data-on="Visible" data-off="Invisible" data-onstyle="success"
                data-offstyle="danger">
            </div>

            <div class="form-group">
              <button class="btn btn-primary mt-4" type="submit">Submit</button>
            </div>
            <form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scriptfiles %}
<script>
  CKEDITOR.replace('service_description');
  CKEDITOR.replace('service_schedules');
</script>
{% endblock %}