{% extends 'dashboard/base_template.html' %}
{% block blog-page-active %}mm-active{% endblock %}
{% block pagetitle %}Blog{% endblock %}

{%block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon bi bi-person-lines-fill"></i>
                </div>
                <div>
                    Blogs
                    <div class="page-title-subheading">Design the page for your blog posts as you please.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="main-card mb-3 p-4 card">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" type="text" name="title" id="title" value="{{post.title}}"
                                placeholder="Title" required>
                        </div>

                        <div class="form-group my-3 py-3" style="background-color: rgba(197, 197, 197, 0.2);">
                            <label class="font-weight-bold" for="thumbnail">Thumbnail</label>
                            <div class="flex mb-3">
                                <span class="mr-10 font-weight-bold">Currently:</span>
                                {% if post.thumbnail %}
                                <img width="100" height="100" src="{{post.thumbnail.url}}" alt="{{post.title}}"
                                    style="border: 1px solid rgba(11, 221, 204, 0.616);">
                                {% else %}
                                <span class="text text-danger">None</span>
                                {% endif %}
                            </div>
                            <input id="thumbnail" type="file" name="thumbnail" {% if not post %}required{% endif %}
                                class="form-control">
                        </div>

                        <label for="post_content">
                            <h4>Content</h4>
                        </label>
                        <textarea name="content" id="post_content" required>{{post.content}}</textarea>

                        <div class="form-group mt-3">
                            <label for="tags">Tags</label>
                            <input class="form-control" type="text" name="tags" id="tags" value="{{post.tags}}"
                                placeholder="Tags" required>
                        </div>

                        <div class="form-group mt-3">
                            <p class="m-0 text text-warning">Invisible posts will not show on the website.</p>
                            <label class="font-weight-bold" for="is_active">Status</label>
                            <input type="checkbox" name="visible" id="visible" {% if post.visible %}checked{% endif %}
                                data-toggle="toggle" data-on="Visible" data-off="Invisible" data-onstyle="success"
                                data-offstyle="danger">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary mt-4" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptfiles %}
<script>
    CKEDITOR.replace('post_content');
</script>
{% endblock %}