{% extends 'dashboard/base_template.html' %}
{% block dashboard-page-active %}mm-active{% endblock %}
{% block pagetitle %}Dashboard{% endblock %} {% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-like icon-gradient bg-love-kiss"></i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">Hi, welcome back</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3">
        <h5 class="card-title">Brief Stats</h5>

        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">Administrators</div>
                                <div class="widget-subheading">Total Count</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-success">{{administrators.count}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">Posts</div>
                                <div class="widget-subheading">Total Number of Posts</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-primary">{{posts.count}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">Services</div>
                                <div class="widget-subheading">Total Number of Services</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-warning">{{services.count}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h5 class="ml-2">About Sinel Hospital</h5>

        <div class="row">
            <div class="col-md-6 p-2">
                <div class="card">
                    <div class="card-body mb-3">
                        <h5 class="card-title">Overview</h5>
                        {{about.overview|safe}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-2">
                <div class="card">
                    <div class="card-body mb-3">
                        <h5 class="card-title">Mission</h5>
                        {{about.mission|safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-2">
                <div class="card">
                    <div class="card-body mb-3">
                        <h5 class="card-title">Vision</h5>
                        {{about.vision|safe}}
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-2">
                <div class="card">
                    <div class="card-body mb-3">
                        <h5 class="card-title">Value</h5>
                        {{about.value|safe}}
                    </div>
                </div>
            </div>


        </div>





    </div>
</div>
{% endblock %}